name: Deploy Weather App to AWS ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: List files (debug)
      run: ls -la

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 622483791730.dkr.ecr.us-east-1.amazonaws.com

    - name: Build Docker image
      run: docker build -t weather-fetch .

    - name: Tag Docker image
      run: docker tag weather-fetch:latest 622483791730.dkr.ecr.us-east-1.amazonaws.com/weather-fetch:latest

    - name: Push Docker image to ECR
      run: docker push 622483791730.dkr.ecr.us-east-1.amazonaws.com/weather-fetch:latest
